<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавить автора</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<p><a th:href="@{/authors/get}" href="authors.html">К списку авторов</a></p>
<!-- Person edition -->
<form id="edit-form" th:action="@{/authors/add}" th:method="post" action="author-add.html">
    <h1>Добавить книгу:</h1>

    <div class="row">
        <label for="name-input">Имя:</label>
        <input id="name-input" name="name" type="text" value="Саах Какой Хороший Человек"/>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>
