<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавить книгу</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<p><a th:href="@{/books/get}" href="books.html">К списку книг</a></p>
<!-- Person edition -->
<form id="edit-form" th:action="@{/books/add}" th:method="post" action="book-add.html">
    <h1>Добавить книгу:</h1>

    <div class="row">
        <label for="name-input">Название:</label>
        <input id="name-input" name="namr" type="text" value="Как же называется эта книга"/>
    </div>
    <div class="row">
        <label for="description-input">Описание:</label>
        <input id="description-input" name="description" type="text" value="Книга известного автора"/>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>
