<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Отредактировать книгу</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<p><a th:href="@{/books/get}" href="books.html">К списку книг</a></p>
<!-- Person edition -->
<form id="edit-form" th:action="@{/books/{id}/edit(id=${book.id})}" th:method="post" action="book-edit.html">
    <h1>Информация о книге:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Название:</label>
        <input id="name-input" name="name" type="text" th:value="${book.name}" value="Как же называется эта книга"/>
    </div>
    <div class="row">
        <label for="description-input">Описание:</label>
        <input id="description-input" name="description" type="text" th:value="${book.description}"
               value="книги о вечном"/>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
    </div>
</form>

<div>
    <p>Добавить автора</p>
    <form id="add-author-form" th:action="@{/books/{id}/add-author(id=${book.id})}" th:method="post" action="book-edit.html">
        <input id="add-author-book-id-input" name="bookId" th:type="hidden" type="text" th:value="${book.id}"
               value="bookId"/>
        <div class="row">
            <label for="author-id-input">Author ID:</label>
            <input id="author-id-input" name="authorId" type="text" value=""/>
        </div>
        <div class="row">
            <button type="submit">Добавить</button>
        </div>
    </form>

    <h2>Авторы</h2>
    <table class="authors list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${book.authors}">
            <td th:text="${author.id}">1</td>
            <td th:text="${author.name}">Пушкин Александр Сергеевич</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <p>Добавить жанр</p>
    <form id="add-genre-form" th:action="@{/books/add-genre}" th:method="post" action="book-edit.html">
        <input id="add-genre-book-id-input" name="bookId" th:type="hidden" type="text" th:value="${book.id}"
               value="bookId"/>
        <div class="row">
            <label for="genre-id-input">Genre ID:</label>
            <input id="genre-id-input" name="genreId" type="text" value=""/>
        </div>
        <div class="row">
            <button type="submit">Добавить</button>
        </div>
    </form>

    <h2>Жанры</h2>
    <table class="genres list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${book.genres}">
            <td th:text="${genre.id}">1</td>
            <td th:text="${genre.name}">Ненаучная Фантастика</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <p>Добавить комментарий</p>
    <form id="add-comment-form" th:action="@{/books/{id}/add-comment(id=${book.id})}" th:method="post" action="book-edit.html">
        <input id="add-comment-book-id-input" name="bookId" th:type="hidden" type="text" th:value="${book.id}"
               value="bookId"/>
        <div class="row">
            <label for="comment-input">Комментарий</label>
            <input id="comment-input" name="comment" type="text" value=""/>
        </div>
        <div class="row">
            <button type="submit">Добавить</button>
        </div>
    </form>

    <h2>Комментарии к книге</h2>
    <table class="comments list">
        <tbody>
        <tr th:each="comment : ${book.comments}">
            <td th:text="${comment.text}">Это просто чудесно! Самая лучшая книга из всех, что довелось читать.</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
